body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-group {
  margin: auto 5px;
}

#cutoff_frequency {
  min-width: 150px;
}

.form-group>.form-check-label {
  font-size: 1.2em;
  padding-top: 7px;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

#query {
  min-width: 400px;
}
